---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/assets/blog-placeholder-about.jpg"
>
	<p>
		As a dedicated and passionate web developer, I have created this platform to document and share my journey in the
		ever-evolving world of web development. Here, you'll find a wealth of knowledge and insights into the latest
		technologies and techniques that I have encountered and mastered throughout my career.
	</p>

	<p>
		One of my primary focuses is Angular, a powerful framework that enables me to build dynamic and interactive user
		interfaces. Using Angular, I craft robust and seamless user experiences that leave a lasting impact on both clients
		and end-users.
	</p>

	<p>
		In addition to Angular, I am well-versed in the efficient utilization of Git and GitHub. These tools play an
		essential role in my development workflow, allowing for seamless code collaboration, version control, and project
		management. By utilizing these technologies, I ensure that my codebase is organized, efficient, and easily
		maintainable.
	</p>

	<p>
		Furthermore, I leverage the power of Nx, a tool that enhances the efficiency and scalability of Angular applications
		through its powerful code generation and modular architecture. By utilizing Nx, I am able to optimize project
		structure, improve code quality, and deliver exceptional results within shorter timelines.
	</p>

	<p>
		Through this website, I aim to provide valuable resources, tutorials, and in-depth explanations of how to leverage
		these technologies effectively. My goal is to make complex concepts accessible to both fellow developers and
		clients, empowering them to create exceptional digital experiences.
	</p>

	<p>
		So, whether you're a fellow developer seeking to expand your skills or a business owner interested in driving
		optimal user experiences, I invite you to explore the content on my website and discover the possibilities that
		Angular, Git, GitHub, and Nx hold.
	</p>

	<p>Thank you for visiting, and I hope you find inspiration and value in the knowledge and experiences I share.</p>

	<p>Best regards,</p>

	<p>Brad</p>

	<img
		src="https://1.gravatar.com/avatar/9cd937f4ee6567da30b44a6005852a5da8856f92894f4080ce4c054eada0a379?size=256"
		alt="Photo of Brad"
		class="avatar"
	/>

	<style>
		.avatar {
			border-radius: 16px;
			width: 128px;
			height: 128px;
			display: block;
		}
	</style>
</Layout>
