---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

const heroImage = '/assets/static/blog-header.png'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
		<script
			is:inline
			src="https://identity.netlify.com/v1/netlify-identity-widget.js"
		></script>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="hero-image">
				{
					heroImage && (
						<img
							width={1020}
							height={510}
							src={heroImage}
							alt="Hero image with Nx and Angular logos"
						/>
					)
				}
			</div>

			<h1>Welcome to my personal website!</h1>

			<p>
				Here, I document and share my exploration of the latest technologies and techniques in frontend web development.
				As a seasoned developer, I specialize in creating robust user experiences using <a href="https://angular.dev"
					>Angular</a
				>, Typescript, Git, GitHub, and <a href="https://nx.dev/">Nx</a>.
			</p>

			<p>
				With Angular, I build dynamic and interactive interfaces that leave a lasting impact. Git and GitHub help me
				manage code collaboration and version control, ensuring an organized and efficient workflow. Nx enhances my
				development process with its powerful code generation and modular architecture.
			</p>

			<p>
				By leveraging these technologies, I deliver exceptional results and stay at the forefront of the industry. Join
				me on this journey as we explore the possibilities and potential of frontend web development together.
			</p>

			<p>
				If I can ever help you understand any of the topics I cover, please don't hesitate to reach out to me on <a
					href="https://x.com/brad_bodine">X (Twitter)</a
				>
			</p>
		</main>
		<Footer />

		<script>
			declare global {
				interface Window {
					netlifyIdentity: any
				}
			}
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on('init', (user: any) => {
					if (!user) {
						window.netlifyIdentity.on('login', () => {
							document.location.href = '/admin/'
						})
					}
				})
			}
		</script>
	</body>
</html>
