---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
		<script
			is:inline
			src="https://identity.netlify.com/v1/netlify-identity-widget.js"
		></script>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to my personal blog website!</h1>

			<p>
				As a seasoned web developer with a passion for creating exceptional online experiences, I am thrilled to share
				my thoughts, expertise, and insights with you through this platform. Here, you will find a collection of
				articles, tutorials, and personal stories that revolve around my journey in the web development world.
			</p>

			<p>
				With years of experience in the industry, I have had the privilege of working on numerous projects for a diverse
				range of clients. From small businesses to multinational corporations, I have developed websites, web
				applications, and intricate software solutions that cater to specific needs and deliver exceptional results.
			</p>

			<p>
				My commitment to precision and efficiency has been a driving force throughout my career. I constantly strive to
				stay on the cutting edge of technology, keeping up with the latest trends, frameworks, and tools in the
				ever-evolving web development landscape. By leveraging my expertise and staying ahead of the curve, I am able to
				create robust, scalable, and secure solutions that meet the demands of modern businesses.
			</p>

			<p>
				However, web development is more than just lines of code and frameworks. It is an art form that combines
				creativity, problem-solving, and constant learning. I believe in the power of collaboration and fostering a
				positive and inclusive web development community. Through this blog, I hope to inspire and empower aspiring
				developers, share insights and best practices, and engage in meaningful discussions that push the boundaries of
				what is possible.
			</p>

			<p>
				So whether you are a fellow developer looking to expand your knowledge, a business owner seeking advice on
				optimizing your online presence, or simply an enthusiast exploring the world of web development, I invite you to
				join me on this journey. Together, let's explore the limitless possibilities of the web and uncover the beauty
				of code.
			</p>

			<p>Thank you for visiting, and I look forward to sharing my passion and expertise with you.</p>

			<p>Best regards,</p>
		</main>
		<Footer />

		<script>
			declare global {
				interface Window {
					netlifyIdentity: any
				}
			}
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on('init', (user: any) => {
					if (!user) {
						window.netlifyIdentity.on('login', () => {
							document.location.href = '/admin/'
						})
					}
				})
			}
		</script>
	</body>
</html>
